<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="./js/vuejs-2.6.6.js"></script>
</head>

<div id="app">
    用户名:<input type="text" v-model="user.username"><br/>
    密码:<input type="email" v-model="user.password"><br/>
    <input type="button" @click="fun()">
</div>
<body>
<script>
    var vue = new Vue({
        el: "#app",
        data: {
            user: {
                username: "lizhihe",
                password: "123456"
            }
        },
        methods: {
            fun:function () {
                alert(vue.user.username+"--------------"+vue.user.password)
                vue.user.username="王五"
                vue.user.password="wangwu"
            }
        }
    })
</script>


</body>
</html>